@import './root.css';

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--clr-gray);
}
nav {
  position: fixed;
  /* border: 1px solid red; */
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgb(83 83 83 / 14%);
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 0 2rem;
  gap: 1rem;
  z-index: 100000;
}
.nav-logo {
  height: 70%;
}
.home {
  background-color: white;
  color: var(--clr-dark);
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

.home.focused,
.home:hover {
  background-color: var(--clr-accent);
  color: white;
}
.search-form {
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.search-input {
  border: none;
  padding: 0.6rem;
  outline: none;
  background: var(--clr-gray);
  color: var(--clr-dark);
  font-weight: 500;
  width: 100%;
}
.search-btn {
  background: var(--clr-gray);
  border: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}
.fa-magnifying-glass {
  font-size: large;
  background-color: var(--clr-gray);
  cursor: pointer;
}
.search-btn:hover path {
  fill: var(--clr-dark) !important;
}
.fa-magnifying-glass path {
  fill: var(--clr-gray-dark) !important;
}

.user {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  padding: 0.3rem;
  /* padding-left: 0.5rem; */
  padding-right: 0.5rem;
  border-radius: 500px;
  cursor: pointer;
  gap: 0.5rem;
  position: relative;
}
.user:hover {
  background-color: var(--clr-gray);
}
.avatar-container {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 500px;
  /* border: 1px solid red; */
}
.avatar-container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.avatar-container .fa-user {
  width: 100%;
  /* height: 100%; */
  /* padding: 0.5rem; */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--clr-gray-dark);
}
.user .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user p {
  color: var(--clr-gray-dark);
}
.user .username {
  line-height: 0.9rem;
}
.user .fame {
  font-size: small;
  color: var(--clr-gray-dark);
  color: var(--clr-accent);
}
.user svg path {
  fill: var(--clr-gray-dark);
}
.user svg {
  font-size: small;
  margin-left: 1rem;
}

.dropdown {
  position: absolute;
  background-color: white;
  color: var(--clr-gray-dark);
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  top: 120%;
  box-shadow: 0px 0px 4px 0px rgb(83 83 83 / 14%);
  /* display: flex; */
  flex-direction: column;
  display: none;
  /* gap: 0.5rem; */
}

.dropdown.show,
.post-dropdown.show {
  display: flex;
}
.dropdown-item,
.post-dropdown-item {
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  gap: 1rem;
}
.dropdown-item:hover,
.post-dropdown-item:hover {
  background-color: var(--clr-gray);
}
.dropdown-item svg,
.post-dropdown-item svg {
  margin: 0;
  font-size: large;
}

.index.main {
  /* border: 1px solid red; */
  border-radius: 8px;
  width: max(35%, 400px);
  height: 100%;
  margin-top: 60px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0rem;
  /* background-color: var(-); */
}
.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-container {
  width: 100%;
  /* min-height: 100px; */
  /* max-height: 200px; */
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0px 0px 4px 0px rgb(83 83 83 / 14%);
}

.post-container textarea,
textarea {
  width: 100%;
  flex: 1;
  min-height: 80px;
  resize: none;
  font-weight: 500;
  color: var(--clr-dark);
  font-size: large;
  border-radius: 8px;
  border: none;
  outline: none;
}
.post-img-container {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  height: fit-content;
  display: none;
  position: relative;
}
.btn-times {
  position: absolute;
  background: transparent;
  width: 35px;
  height: 35px;
  border-radius: 5000px;
  background-color: var(--clr-danger);
  border: none;
  color: white;
  font-size: large;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-times:hover {
  background-color: var(--clr-danger-light);
  width: 45px;
  height: 45px;
}
.post-img-container:hover .btn-times {
  display: block;
}
.post-img-container.show-post-image {
  display: block;
}
.post-img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.extra {
  display: flex;
  gap: 0.5rem;
}
.extra .icon-container {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5000px;
  border: 2px solid var(--clr-gray-dark);
  padding: 0.1rem;
  cursor: pointer;
}
label.icon-container:first-of-type {
  border: none;
}

#img-post-upload {
  display: none;
}

.icon-container:first-of-type path {
  /* fill: var(--clr-success); */
}
.icon-container svg {
  width: 100%;
  height: 100%;
  color: var(--clr-gray-dark);
}
.post-container #hr {
  height: 1px;
  align-self: center;
  width: 100%;
  background-color: var(--clr-gray);
}

.post-container textarea::placeholder {
  color: var(--clr-gray-medium);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
textarea {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-gray-normal) #ffffff;
}

/* Chrome, Edge, and Safari */
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--clr-gray-normal);
  border-radius: 10px;
  border: 1px solid white;
}

.post-container .share-btn,
.save-btn {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: large;
  padding: 0.4rem;
  background-color: var(--clr-accent);
  color: white;
  cursor: pointer;
}
.share-btn:hover {
  background: var(--clr-accent-light);
}
.save-btn {
  background-color: var(--clr-variant);
}
.save-btn:hover {
  background: var(--clr-variant-light);
}
.post-info {
  padding: 1rem;
  color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.post-user {
  font-weight: 500;
  color: var(--clr-gray-dark);
}
.post-date {
  color: var(--clr-gray-medium);
  font-size: small;
}
.post {
  background-color: white;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* max-height: min-content; */
  box-shadow: 0px 0px 4px 0px rgb(83 83 83 / 14%);
  position: relative;
}
.post-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.post-header .post-profile-pic-container {
  width: 40px;
  height: 40px;
  border-radius: 500px;
  overflow: hidden;
}
.post-header img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.post img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
}

.post .fa-user {
  width: 100%;
  height: 100%;
}

.post-options {
  margin-left: auto;
  width: 35px;
  height: 35px;
  padding: 0.3rem;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}
.post-options.show {
  display: block;
}
.post-options:hover {
  background-color: var(--clr-gray);
}
.post-options svg {
  width: 100%;
  height: 100%;
  /* color: var(--clr-gray-dark); */
}
.post-options path {
  /* fill: var(--clr-gray-dark); */
}
.post-dropdown {
  position: absolute;
  display: flex;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #ffffff;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px rgb(83 83 83 / 14%);
  top: 50px;
  right: 10px;
  display: none;
}
.post-dropdown.show {
  display: flex;
}
.post-dropdown-item {
  cursor: pointer;
  display: flex;
}
.post-dropdown {
  color: var(--clr-dark);
  font-weight: 500;
  z-index: 500;
}

.hidden {
  display: none;
}

.social {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-icon {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  color: var(--clr-gray-dark);
}
.social-btn {
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: none;
  background-color: #ffffff;
}
.social-icon svg {
  /* border: 1px solid red; */
  border-radius: 500px;
  padding: 0.4rem;
  cursor: pointer;
  display: inline-block;
}
.like,
.social-icon:first-of-type {
  color: var(--clr-accent);
}
.like:hover svg {
  background-color: var(--clr-accent-lightest);
}

.dislike:hover svg {
  background-color: var(--clr-danger-lightest);
}
.dislike,
.social-icon:nth-of-type(2) {
  color: var(--clr-danger);
}

.social-icon span {
  /* font-size: 1rem; */
}

.post-info {
  word-wrap: break-word;
}
