@import './root.css';

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav {
  position: fixed;
  /* border: 1px solid red; */
  box-shadow: 0 0 10px 1px rgba(83, 83, 83, 0.142);
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 0 2rem;
  gap: 1rem;
}
.nav-logo {
  height: 70%;
}
.home {
  background-color: white;
  color: var(--clr-dark);
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
.home:hover {
  background-color: var(--clr-dark);
  color: white;
}
.search-form {
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.search-input {
  border: none;
  padding: 0.6rem;
  outline: none;
  background: var(--clr-gray);
  color: var(--clr-dark);
  font-weight: 500;
  width: 100%;
}
.search-btn {
  background: var(--clr-gray);
  border: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}
.fa-magnifying-glass {
  font-size: large;
  background-color: var(--clr-gray);
  cursor: pointer;
}
.search-btn:hover path {
  fill: var(--clr-dark) !important;
}
.fa-magnifying-glass path {
  fill: var(--clr-gray-dark) !important;
}

.user {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  padding: 0.3rem;
  padding-right: 0.5rem;
  border-radius: 500px;
  cursor: pointer;
  gap: 0.5rem;
}
.user:hover {
  background-color: var(--clr-gray);
}
.avatar-container {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 500px;
  /* border: 1px solid red; */
}
.avatar-container img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.fa-user {
  width: 100%;
  /* height: 100%; */
  /* padding: 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--clr-gray-dark);
}
.user p {
  color: var(--clr-gray-dark);
}
