@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
:root {
  --clr-dark: #101727;
  --clr-gray: rgb(238, 238, 238);
  --clr-accent: #2176ae;
  --clr-accent-light: #52a1d6;
  --clr-variant: #18b64c;
  --clr-variant-light: #22da5f;
  --clr-gray-normal: #cccccc;
  --clr-gray-medium: #a6a6a6;
  --clr-gray-dark: #787878;
  --clr-success: rgb(113, 255, 113);
  --clr-danger: rgb(252, 80, 80);
  --clr-danger: rgb(252, 80, 80);
  --clr-danger-light: #fe6e6e;
}

#alert {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--clr-dark); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the alert */
  bottom: 30px; /* 30px from the bottom */
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
}
#alert > .fa-circle-check {
  font-size: 1.5rem;
  color: var(--clr-success);
}
#alert > .fa-circle-exclamation {
  font-size: 1.5rem;
  color: var(--clr-danger);
}
#alert > p {
  font-size: medium;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.alerts {
  display: flex;
  flex-direction: column;
}

/* Show the alert when clicking on a button (class added with JavaScript) */
#alert.show {
  visibility: visible; /* Show the alert */
  /* Add animation: Take 0.5 seconds to fade in and out the alert.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the alert in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
