@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
:root {
  --clr-dark: #101727;
  --clr-gray: rgb(238, 238, 238);
  --clr-gray-normal: #cccccc;
  --clr-gray-dark: #787878;
  --clr-success: rgb(113, 255, 113);
  --clr-danger: rgb(252, 80, 80);
}
